@import url("dailyTech.css");

/* Overriding the background blur image for Morning Briefing */
.show-header::before {
    background-image: url('https://images.unsplash.com/photo-1504711434969-e33886168f5c?w=800');
}