/* Only the background change is required here */
body {
    background: url('https://images.unsplash.com/photo-1485827404703-89b55fcc595e?w=1000') no-repeat center center fixed;
    background-size: cover;
}