/* Specific background for Global Markets Update */
body {
    background: url('https://images.unsplash.com/photo-1504711434969-e33886168f5c?w=1000') no-repeat center center fixed;
    background-size: cover;
}