/* Specific background for the Morning Meditation episode */
body {
    background: url('https://images.unsplash.com/photo-1506126613408-eca07ce68773?w=1000') no-repeat center center fixed;
    background-size: cover;
}