/* Specific background for the James Webb Telescope episode */
body {
    background: url('https://images.unsplash.com/photo-1507413245164-6160d8298b31?w=1000') no-repeat center center fixed;
    background-size: cover;
}